nav{
    background-color: #57b1ff;
    display: flex;
    justify-content: center;
    align-items:center;
    border-radius: 20px;
}
nav ul{
    display: flex;
    list-style-type: none;
}
nav ul li{
     margin:0 20px 0 20px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 20px;
    font-family:monospace;
}
nav ul li a:hover{
    background-color: white;
    color:plum;   
}
body{
    background-color: #ffa3cc;
    background-image: url(https://i.pinimg.com/1200x/ee/a1/04/eea104abe7591364d2b85cac3200fb7c.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    justify-content: flex-start;
    align-items: flex-start;
    font-family:"Limelight", sans-serif;
}
/* image design */
.hero{
    min-height: 100vh;
    width: 30%;
    display:flex;
    background-color: #ffa3cc;
    background-image: url(https://i.pinimg.com/originals/2b/f6/53/2bf653e117fb39a01a5aef8b10a2f6d0.gif);
    position: left;
    background-repeat: no-repeat;
    background-size: cover;
    float: right;
    
}
/* text modification */
.content{
    color:black;
    line-height:1.8;
    margin:0 10px 0 10px;
     border-radius: 5px;
    border-bottom:2px solid white ;
    font-family: monospace;
}
main{
    padding:20px 20px;
}
h1{
    border-bottom:2px solid white ;
    color: rgb(4, 96, 255);
    font-size: 50px;
    padding-bottom: 10px;
}
h3{
    color: rgb(4, 167, 255);
    padding-top: 40px;
}
/* footer section */
footer{
    position: fixed;
    background-color: #fac4ff;
    width:100%;
    font-family: monospace;
    color: black;
    margin-top: 40 px;
    bottom: 0;
    left:0;
    padding: 10px;
    text-decoration: solid;

}
/* button styling */
.button{
    background:#ffa3cc;
    border: 0;
    outline: none;
    padding:15px 20px;

}
.container button{
    background: #fac4ff ;
    border:10px;
    outline:white;
    padding:15px 35px;
    color:white;
    margin-top:25px;
    font-weight:500 ;
    letter-spacing: 1px;
    cursor: grab;
    border-radius: 20px;

}
